root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.go,go.mod}]
indent_style = tab
indent_size = unset

[*.{yaml,yml}]
indent_size = 2

[*.md]
indent_size = unset

[*.nix]
indent_size = 2

[.ecrc]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = unset
