language: go

go:
  - 1.12

env:
  - GO111MODULE=on

script:
  - make build
  - make test
  - ./bin/ec -config stuff.json -init && diff stuff.json ./testfiles/generated-config.json && rm stuff.json
  - make run
  - make bench

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email: false
