name: "ci"

on:
  push:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: wagoid/commitlint-github-action@v2.0.3
        if: ${{ github.ref != 'refs/heads/main' }}
      - uses: actions/setup-go@v1
        with:
          go-version: "1.19"
      - run: make build
      - run: make test
      - run: ./bin/ec -config stuff.json -init && diff stuff.json ./testfiles/generated-config.json && rm stuff.json
      - run: make run
      - run: make bench
      - uses: heinrichreimer/github-changelog-generator-action@v2.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: EndBug/add-and-commit@v7
        with:
          add: "CHANGELOG.md"
          message: "docs: add changelog [skip-ci]"
      - uses: codecov/codecov-action@v3
