name: "ci"

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v5.4.4
        if: ${{ github.ref != 'refs/heads/main' }}
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - run: make build
      - run: make test
      - run: ./bin/ec -config stuff.json -init && diff stuff.json ./testfiles/generated-config.json && rm stuff.json
      - run: make run
      - run: make bench
      - uses: heinrichreimer/github-changelog-generator-action@v2.1.1
        with:
          token: ${{ secrets.GH_TOKEN_PAT }}
      - uses: codecov/codecov-action@v3
